fastapi==0.115.*
uvicorn[standard]==0.32.*
sqlalchemy==2.0.*
psycopg2-binary==2.9.*
pydantic==2.*
python-dotenv==1.*

reportlab==4.*
pdfplumber==0.11.*
PyMuPDF==1.24.*
python-multipart==0.0.*
httpx==0.27.*
apscheduler==3.10.*

python-jose[cryptography]==3.3.*
passlib[bcrypt]==1.7.*
bcrypt==3.2.2

# nur für die Migration benötigt:
dbfread==2.0.*
